*{
 margin: 5%;
 font-family: sans-serif;
 color: rgb(80, 79, 79);
}
body{
    background-color: rgb(238, 229, 229);
}
.contenedor{ 
    border: 3px solid rgb(121, 121, 237);
    background-color: white;
}
.menu{
    margin-left: 53%;
}

img{
    margin-top: -15%;
    display: inline;
    margin-left: 70%;
    width: 20%;
    height: 20%;
    border-radius: 110px;
}
ul li {
    display: inline; 
    padding: 10px;    
} 
.presentacion{
    display: inline;
    text-align: left;
    line-height: 1.2;    
}
h1{
    font-size: xx-large;
    margin-left: 10%;
    font-style: normal;
}
p{
    margin-left: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.redesSociales{
    margin-left: 10%;
}
.github :hover{
   color: rgb(71, 71, 239);
}
.linkedin :hover{
    color: rgb(65, 65, 241);
 }
h2{
    margin-left: 10%;
    font-size: x-large;
    font-style: normal;
}
.biografia{
    width: 100%;
    height: 200px;
    margin-left: 0%;
    margin-top: 3%;
    background-color: rgb(224, 224, 236);
    padding-top: 5%;
    display: flexbox;
    line-height: 1.2;
}
.skills{
    text-align:center;
    display: inline;  
    list-style: none;
     
}
.skills ul{
    margin-top: -1%;   
    display: inline-block;
    margin-left: 10%;
    padding: 10%;    
}
.skills li{
    padding: 40px;
    margin-top: -19%;
    display: inline-block;
    padding-right: 18px;
}
.html{
    width: 200px;
    height: 125px; 
}
.JavaScript{
    width: 100px;
    height: 100px;    
    padding-bottom: 10px;
}
.CSS{
    width: 110px;
    height: 120px;
}
.Mysql{
    width: 120px;
    height: 105px;  
    padding: 10px;
}
.html,.JavaScript,.CSS,.Mysql{    
    max-width: 100px;
    display: flex;
    margin: 0 auto;      
}
.hobbies{
    margin-top: -5%;
    text-align:center;   
    display: inline;  
    list-style: none;  
}
.hobbies ul{
    margin-top: 1%;   
    display: inline-block;   
    padding: 10%;    
}
.hobbies li{
    padding: 40px;
    margin-top: -19%;
    display: inline-block;
    padding-right: 18px;
}
.tituloHobbies{
    margin-top: -5%;
}
.piano,.juegos,.musica,.libros{
    width: 150px;
    display: flex;
    margin: 0 auto 10px;      
}
.juegos{
    height: 80px;
}
.piano{
    height: 80px;
}
.musica{
    height: 80px;
}
.libros{
    height: 80px;
}
.formacion{
    text-align: left    ;
    display: inline;  
    list-style: none;
   
}
.formacion h2{
    margin-top: -5%;
    text-align: center;
}
.formacion ul{
    margin-top: 3%;   
    display: inline-block;
    margin-left: 5%;
    padding: 10%;
    
}
.formacion li{
    padding: 55px;
    margin-top: -19%;
    display: inline-block;
    padding-right: 30px;
}
.carreras{
    text-align: center
}
.sanjose,.comfenalco,.alura{
    display: flex;
    margin: 0 auto;
    width: 150px;
}
.sanjose{
    width: 220px;
    margin-bottom: 10px;
}
.alura{
    width: 120px;
    height: 75px;
    margin-bottom: 10px;
}
.contacto{
    display: inline ;  
    list-style: none; 
 
}
.contacto h2{
    text-align: center;
    margin-top: -10%;
    margin-bottom: 25%;
}
.correo{
    width: 100px;
    height: 90px;
    display: inline-flex;
    margin-left: 25%;   
    position: absolute;
}
.whatsapp{
    width: 120px;
    height: 130px;
    margin-left: 35%;
    display: inline-flex;
    position: absolute;  
}
@media screen and (max-width: 480px){
    .contenedor{
        padding:1%;
    }
    .menu{
        font-size:small;
        display: inline-flex;
        margin-left: 0%;      
 
    }
    .menu li{
        margin-right: 7px;
        padding: 0;
        text-align: center;
    }
    .presentacion h1, p{
        font-size: medium;
    }
    .biografia{
       height: 325px;      
    }
    .biografia h2{
        font-size: medium;
    }
    .informacionBiografia{
        font-size: small;
    }
    .redesSociales{
        font-size: small;
    }
    .redesSociales li{
        padding: 0;
        margin-right: 7px;
    }
    .skills ul{
        margin-left: -9%;
    }
    .skills li{
        font-size: small;
        padding: 25px;
        text-align: center;
    }
    .skills h2{
        font-size: medium;
        display: flex;
        margin-left: 40%;
    }
    .html{
        width: 80px;
        height: 80px;
    }
    .CSS{
        width: 70px;
        height: 80px;
        display: flex;
        margin-left: 17%;
    }
    .JavaScript{
        width: 60px;
        height: 65px;
    }
    .Mysql{
        width: 70px;
        height: 70px;
    } 
    .hobbies{
        line-height: 30px;
    }  
    .piano{
        width: 80px;
        height: 80px;
    }
    .juegos{
        width: 80px;
        height: 80px;       
    }
    .musica{
        width: 75px;
        height: 65px;
    }
    .libros{
        width: 70px;
        height: 70px;
    }
    .hobbies li{
        font-size: small;
        padding: 25px;
    }
    .tituloHobbies{
        font-size: medium;
        display: flex;
        margin-left: 37%;
    }
    .formacion h2{
        font-size: medium;
    }
    .formacion ul{
        margin-left: 10%;
    }
    .formacion li{
        padding: 25px;
        font-size: small;
    }
    .sanjose, .comfenalco{
        width: 100px;
        height: 70px;
        margin-left: 20%;
    }    
    .alura{
        width: 100px;
        height: 60px;
        margin-left: 20%;
    }
    .contacto h2{
        font-size: medium;
    }
    .contacto ul{
        margin-top: 60%;
    }
    .contacto li{
        display: flex;
        font-size: small;
        line-height: 1%;
    }
    .correo{
        width: 40px;
        height: 40px;
        top: 295%;
    }
    .whatsapp{
        width: 40px;
        height: 30px;  
        top: 295%;  
        margin-left: 180px;    
    }
}
    

